In [1]:
import pandas as pd

df = pd.read_csv("C:/Users/HP/Downloads/Instagram_Analytics.csv")

df.head(10)

,post_id,upload_date,media_type,likes,comments,shares,saves,reach,impressions,caption_length,hashtags_count,followers_gained,traffic_source,engagement_rate,content_category
0,IG0000001,2024-11-30 09:25:22.954916,Reel,31627,7559,4530,6393,615036,1007750,1340,3,899,Home Feed,4.97,Technology
1,IG0000002,2025-08-15 09:25:22.954916,Photo,63206,3490,1680,6809,1237071,1345900,1351,20,805,Hashtags,5.59,Fitness
2,IG0000003,2025-09-11 09:25:22.954916,Reel,94373,3727,1761,8367,1127470,1305369,242,24,758,Reels Feed,8.29,Beauty
3,IG0000004,2025-09-18 09:25:22.954916,Reel,172053,7222,2875,9290,764030,897874,446,11,402,External,21.32,Music
4,IG0000005,2025-03-21 09:25:22.954916,Video,99646,2703,4444,9746,7004,495406,1905,8,155,Profile,23.52,Technology
5,IG0000006,2025-05-06 09:25:22.954916,Carousel,10500,7337,3601,5163,311157,381943,1448,12,904,Reels Feed,6.96,Photography
6,IG0000007,2025-09-21 09:25:22.954916,Carousel,193906,6326,4384,5581,277864,690698,904,21,701,Explore,30.43,Food
7,IG0000008,2025-01-06 09:25:22.954916,Carousel,27317,3289,2352,11684,1185935,1592082,400,27,894,Profile,2.80,Technology
8,IG0000009,2025-10-13 09:25:22.954916,Photo,90827,6557,570,13750,906114,1110667,236,13,739,Reels Feed,10.06,Beauty
9,IG0000010,2025-03-10 09:25:22.954916,Photo,67067,5988,3223,11741,1212435,1556489,1219,29,611,Hashtags,5.65,Music

In [2]:
df.head()

,post_id,upload_date,media_type,likes,comments,shares,saves,reach,impressions,caption_length,hashtags_count,followers_gained,traffic_source,engagement_rate,content_category
0,IG0000001,2024-11-30 09:25:22.954916,Reel,31627,7559,4530,6393,615036,1007750,1340,3,899,Home Feed,4.97,Technology
1,IG0000002,2025-08-15 09:25:22.954916,Photo,63206,3490,1680,6809,1237071,1345900,1351,20,805,Hashtags,5.59,Fitness
2,IG0000003,2025-09-11 09:25:22.954916,Reel,94373,3727,1761,8367,1127470,1305369,242,24,758,Reels Feed,8.29,Beauty
3,IG0000004,2025-09-18 09:25:22.954916,Reel,172053,7222,2875,9290,764030,897874,446,11,402,External,21.32,Music
4,IG0000005,2025-03-21 09:25:22.954916,Video,99646,2703,4444,9746,7004,495406,1905,8,155,Profile,23.52,Technology

df.describe()

In [3]:
df["upload_date"] = pd.to_datetime(df["upload_date"]).dt.floor('S')

C:\Users\HP\AppData\Local\Temp\ipykernel_13932\3664289319.py:1: FutureWarning: 'S' is deprecated and will be removed in a future version, please use 's' instead.
  df["upload_date"] = pd.to_datetime(df["upload_date"]).dt.floor('S')

In [4]:
df.head()

,post_id,upload_date,media_type,likes,comments,shares,saves,reach,impressions,caption_length,hashtags_count,followers_gained,traffic_source,engagement_rate,content_category
0,IG0000001,2024-11-30 09:25:22,Reel,31627,7559,4530,6393,615036,1007750,1340,3,899,Home Feed,4.97,Technology
1,IG0000002,2025-08-15 09:25:22,Photo,63206,3490,1680,6809,1237071,1345900,1351,20,805,Hashtags,5.59,Fitness
2,IG0000003,2025-09-11 09:25:22,Reel,94373,3727,1761,8367,1127470,1305369,242,24,758,Reels Feed,8.29,Beauty
3,IG0000004,2025-09-18 09:25:22,Reel,172053,7222,2875,9290,764030,897874,446,11,402,External,21.32,Music
4,IG0000005,2025-03-21 09:25:22,Video,99646,2703,4444,9746,7004,495406,1905,8,155,Profile,23.52,Technology

In [5]:
df.isna().sum()

post_id             0
upload_date         0
media_type          0
likes               0
comments            0
shares              0
saves               0
reach               0
impressions         0
caption_length      0
hashtags_count      0
followers_gained    0
traffic_source      0
engagement_rate     0
content_category    0
dtype: int64

In [6]:
df.duplicated(subset=("post_id")).sum()

0

In [7]:
df.head()

,post_id,upload_date,media_type,likes,comments,shares,saves,reach,impressions,caption_length,hashtags_count,followers_gained,traffic_source,engagement_rate,content_category
0,IG0000001,2024-11-30 09:25:22,Reel,31627,7559,4530,6393,615036,1007750,1340,3,899,Home Feed,4.97,Technology
1,IG0000002,2025-08-15 09:25:22,Photo,63206,3490,1680,6809,1237071,1345900,1351,20,805,Hashtags,5.59,Fitness
2,IG0000003,2025-09-11 09:25:22,Reel,94373,3727,1761,8367,1127470,1305369,242,24,758,Reels Feed,8.29,Beauty
3,IG0000004,2025-09-18 09:25:22,Reel,172053,7222,2875,9290,764030,897874,446,11,402,External,21.32,Music
4,IG0000005,2025-03-21 09:25:22,Video,99646,2703,4444,9746,7004,495406,1905,8,155,Profile,23.52,Technology

In [8]:
df["total_engagement"] = (
    df["likes"] +
    df["comments"] +
    df["shares"] +
    df["saves"]
)

In [9]:
#Engagement Metric
df.head()

,post_id,upload_date,media_type,likes,comments,shares,saves,reach,impressions,caption_length,hashtags_count,followers_gained,traffic_source,engagement_rate,content_category,total_engagement
0,IG0000001,2024-11-30 09:25:22,Reel,31627,7559,4530,6393,615036,1007750,1340,3,899,Home Feed,4.97,Technology,50109
1,IG0000002,2025-08-15 09:25:22,Photo,63206,3490,1680,6809,1237071,1345900,1351,20,805,Hashtags,5.59,Fitness,75185
2,IG0000003,2025-09-11 09:25:22,Reel,94373,3727,1761,8367,1127470,1305369,242,24,758,Reels Feed,8.29,Beauty,108228
3,IG0000004,2025-09-18 09:25:22,Reel,172053,7222,2875,9290,764030,897874,446,11,402,External,21.32,Music,191440
4,IG0000005,2025-03-21 09:25:22,Video,99646,2703,4444,9746,7004,495406,1905,8,155,Profile,23.52,Technology,116539

In [10]:
#Performance Ratio

df["virality_rate"] = df["shares"] / df["impressions"]
df["saves_rate"] = df["saves"] / df["impressions"]
df["reach_rate"] = df["reach"] / df["impressions"]

In [11]:
df.head()

,post_id,upload_date,media_type,likes,comments,shares,saves,reach,impressions,caption_length,hashtags_count,followers_gained,traffic_source,engagement_rate,content_category,total_engagement,virality_rate,saves_rate,reach_rate
0,IG0000001,2024-11-30 09:25:22,Reel,31627,7559,4530,6393,615036,1007750,1340,3,899,Home Feed,4.97,Technology,50109,0.004495,0.006344,0.610306
1,IG0000002,2025-08-15 09:25:22,Photo,63206,3490,1680,6809,1237071,1345900,1351,20,805,Hashtags,5.59,Fitness,75185,0.001248,0.005059,0.919140
2,IG0000003,2025-09-11 09:25:22,Reel,94373,3727,1761,8367,1127470,1305369,242,24,758,Reels Feed,8.29,Beauty,108228,0.001349,0.006410,0.863717
3,IG0000004,2025-09-18 09:25:22,Reel,172053,7222,2875,9290,764030,897874,446,11,402,External,21.32,Music,191440,0.003202,0.010347,0.850932
4,IG0000005,2025-03-21 09:25:22,Video,99646,2703,4444,9746,7004,495406,1905,8,155,Profile,23.52,Technology,116539,0.008970,0.019673,0.014138

In [12]:
df["content_category"].dtype

dtype('O')

In [13]:
corr_cols = [
    "likes", "comments", "shares", "saves", "reach", "impressions", "followers_gained", "engagement_rate"
]
correlation_matrix = df[corr_cols].corr()
correlation_matrix

,likes,comments,shares,saves,reach,impressions,followers_gained,engagement_rate
likes,1.000000,-0.000191,0.006214,-0.001921,0.003920,0.002286,-0.006876,0.242971
comments,-0.000191,1.000000,-0.004454,-0.004837,-0.002184,0.000846,-0.001411,0.018799
shares,0.006214,-0.004454,1.000000,0.005221,-0.009531,-0.011702,0.003215,0.008056
saves,-0.001921,-0.004837,0.005221,1.000000,0.001756,0.003282,0.002627,0.008849
reach,0.003920,-0.002184,-0.009531,0.001756,1.000000,0.970222,-0.002331,-0.338687
impressions,0.002286,0.000846,-0.011702,0.003282,0.970222,1.000000,-0.002992,-0.366118
followers_gained,-0.006876,-0.001411,0.003215,0.002627,-0.002331,-0.002992,1.000000,-0.001056
engagement_rate,0.242971,0.018799,0.008056,0.008849,-0.338687,-0.366118,-0.001056,1.000000

In [14]:
df.head()

,post_id,upload_date,media_type,likes,comments,shares,saves,reach,impressions,caption_length,hashtags_count,followers_gained,traffic_source,engagement_rate,content_category,total_engagement,virality_rate,saves_rate,reach_rate
0,IG0000001,2024-11-30 09:25:22,Reel,31627,7559,4530,6393,615036,1007750,1340,3,899,Home Feed,4.97,Technology,50109,0.004495,0.006344,0.610306
1,IG0000002,2025-08-15 09:25:22,Photo,63206,3490,1680,6809,1237071,1345900,1351,20,805,Hashtags,5.59,Fitness,75185,0.001248,0.005059,0.919140
2,IG0000003,2025-09-11 09:25:22,Reel,94373,3727,1761,8367,1127470,1305369,242,24,758,Reels Feed,8.29,Beauty,108228,0.001349,0.006410,0.863717
3,IG0000004,2025-09-18 09:25:22,Reel,172053,7222,2875,9290,764030,897874,446,11,402,External,21.32,Music,191440,0.003202,0.010347,0.850932
4,IG0000005,2025-03-21 09:25:22,Video,99646,2703,4444,9746,7004,495406,1905,8,155,Profile,23.52,Technology,116539,0.008970,0.019673,0.014138

In [15]:
df["post_day"] = df["upload_date"].dt.day_name()
df["post_month"] = df["upload_date"].dt.to_period("M").astype(str)
df["post_hour"] = df["upload_date"].dt.hour

In [16]:
df.head()

,post_id,upload_date,media_type,likes,comments,shares,saves,reach,impressions,caption_length,...,traffic_source,engagement_rate,content_category,total_engagement,virality_rate,saves_rate,reach_rate,post_day,post_month,post_hour
0,IG0000001,2024-11-30 09:25:22,Reel,31627,7559,4530,6393,615036,1007750,1340,...,Home Feed,4.97,Technology,50109,0.004495,0.006344,0.610306,Saturday,2024-11,9
1,IG0000002,2025-08-15 09:25:22,Photo,63206,3490,1680,6809,1237071,1345900,1351,...,Hashtags,5.59,Fitness,75185,0.001248,0.005059,0.919140,Friday,2025-08,9
2,IG0000003,2025-09-11 09:25:22,Reel,94373,3727,1761,8367,1127470,1305369,242,...,Reels Feed,8.29,Beauty,108228,0.001349,0.006410,0.863717,Thursday,2025-09,9
3,IG0000004,2025-09-18 09:25:22,Reel,172053,7222,2875,9290,764030,897874,446,...,External,21.32,Music,191440,0.003202,0.010347,0.850932,Thursday,2025-09,9
4,IG0000005,2025-03-21 09:25:22,Video,99646,2703,4444,9746,7004,495406,1905,...,Profile,23.52,Technology,116539,0.008970,0.019673,0.014138,Friday,2025-03,9

In [17]:
media_perf = (
    df.groupby("media_type")
        .agg(
            avg_engagement_rate = ("engagement_rate", "mean"),
            avg_reach = ("reach", "mean"),
            avg_followers_gained = ("followers_gained", "mean")
        )
        .reset_index()
        .sort_values("avg_engagement_rate", ascending = False)
)

media_perf

  media_type  avg_engagement_rate     avg_reach  avg_followers_gained
3      Video            14.619641  9.977816e+05            504.456201
2       Reel            14.540539  9.987618e+05            494.201331
0   Carousel            14.323362  9.880540e+05            504.675525
1      Photo            14.191059  1.001715e+06            505.305582

In [18]:
#Best posting days

day_perf = (
    df.groupby("post_day")
    .agg(avg_engagement_rate = ("engagement_rate", "mean"))
    .reset_index()
    .sort_values("avg_engagement_rate", ascending = False)
)

day_perf

    post_day  avg_engagement_rate
6  Wednesday            15.106625
2   Saturday            14.789095
3     Sunday            14.418680
1     Monday            14.300944
0     Friday            14.185213
4   Thursday            14.154631
5    Tuesday            13.980432

In [19]:
category_perf = (
    df.groupby("content_category")
        .agg(
            avg_engagement_rate = ("engagement_rate", "mean"),
            avg_followers_gained = ("followers_gained", "mean")
        )
    .reset_index()
    .sort_values("avg_engagement_rate", ascending = False)
)

category_perf

  content_category  avg_engagement_rate  avg_followers_gained
0           Beauty            15.664385            505.479512
7      Photography            14.816511            503.241516
5        Lifestyle            14.692105            508.992377
2          Fashion            14.523533            497.576796
6            Music            14.488062            512.873793
1           Comedy            14.396149            498.470508
4             Food            13.988711            503.049502
3          Fitness            13.948752            497.250000
8       Technology            13.927650            491.641983
9           Travel            13.757692            503.033019

In [22]:
host = "localhost"
port = "5432"
username = "postgres"
password = "password"
database = "instagram_analytics"


from sqlalchemy import create_engine

engine = create_engine(f"postgresql+psycopg2://{username}:{password}@{host}:{port}/{database}")

#df = pd.read_sql("SHOW TABLES;", engine)
#print(df)

table_name = "analytics"
df.to_sql(table_name, engine, if_exists = "replace", index = False)

print(f"data successfully loaded into table '{table_name}' in database '{database}'.")

data successfully loaded into table 'analytics' in database 'instagram_analytics'.